body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #111621;

}
html {
  scroll-behavior: smooth;
}

.container {

  margin-left: 7%;
  margin-right: 7%;
}
a{
  text-decoration: none;
}

.header-btn{
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  gap: 10px;
  z-index: 100;
  
  justify-content: center;
  align-items: flex-start;
  left: 0;   
  right: 0;  
  margin: auto; 


  
}

.hd-btn{
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 20px;
  color: #a677d4;
  font-weight: 800;
  margin-top: 10px;
  background-color: #65479edc;
  border: 1px solid #9655d6;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  position: relative;
}





.hd-btn {
  position: relative;
  display: inline-block;
}

.navigation {
  position: absolute; 
  width: 100%; 
  top: 118%; 
  left: 35.5%; 
  z-index: 10000; 
}

.navigation .dropdown-menu {
  display: none;
}







.hd-btn:hover{
  background-color: #9555d66e;
  color: #b99bf0;
  transition: 0.3s;
}






/* выпадающее меню */

.nav-button {
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  display: none; 
  position: absolute;

  background-color: #563a8cb7;
  backdrop-filter: blur(6px);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 30px;
}

.dropdown-menu a {
  color: #dbb7ff;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 13px;
  padding: 12px 16px;
  /* text-decoration: none; */
  display: block;
}

.dropdown-menu a:hover {
  background-color: #9555d6;
  color: #b99bf0;
  transition: 0.1s;
  border-radius: 30px;
}






/* модальное окно */
.modal {
  display: none; 
  position: fixed; 
  z-index: 10; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}



.modal-content {
  background-color: #9555d672;
  backdrop-filter: blur(6px);
  color: #e5eeff;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 24px;
  font-weight: 800;
  text-align: center;

  margin: 5% auto; 
  padding: 20px;
  border: 3px solid #543275;
  border-radius: 30px;
  width: 40%; 
  
}

.close {
  color: #ffffff;
  float: right;
  font-size: 48px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.email-cvz-btn{
  margin-bottom: 80px;
}
.cvz-btn{
  display: flex;
  justify-content: center;
  align-items: center;

  color: #e5eeff;
  background-color: #9555d6;
  border: 3px solid #633b8b;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
}
.cvz-btn:hover{
  background-color: #704898;
  color: #bca4d3;
  transition: 0.2s;
}
.email{
  background-color: #9555d6;
  border: 3px solid #633b8b;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 20px;
  color: #ffffff;
  font-weight: 800;
  margin-bottom: 10px;
}
.email-btn:hover{
  background-color: #633b8b;
  color: #9555d6;
  transition: 0.3s;
}
.email::placeholder { 
  color: #e5eeff; 
  font-style: italic; 
}
.social-btn{
  text-decoration: none;
}
.social-btn-img:hover{
  transform: scale(1.1);
  transition: 0.3s;
}







/*Полосы фона*/
.masked-background {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: 
    linear-gradient(0deg, #161e2e 1px, transparent 1px),
    linear-gradient(90deg, #161e2e 1px, transparent 1px);
  background-size: 100px 100px;
  mask-image: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 1) 65%, transparent 100%);
  z-index: -100;
}



.title {
  /* margin-top: 140px; */
  color: #E5EEFF;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 8vh;
  font-weight: 800;
  width: 72vh;
}

.title p {
  margin-top: 5px; 
  margin-bottom: 5px; 
}
.title-2 {
  text-align: right;
  color: #9655d6;
}





.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* gap: 10px; */
  /* width: 200%; */
  flex-wrap: wrap;
  height: 100vh;
}

.avatar {
  border-radius: 50%;
  width: 400px;
  height: 400px;
}





.ring {
  /* margin-top: 140px; */
  margin-left: 25px;
  position: relative;
  max-width: 400px;
  max-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ring i {
  position: absolute;
  inset: 0;
  border: 2px solid #fff;
  transition: 0.5s;
}
.ring i:nth-child(1) {
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: animate 6s linear infinite;
}
.ring i:nth-child(2) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate 4s linear infinite;
}
.ring i:nth-child(3) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate2 10s linear infinite;
}
.ring:hover i {
  border: 6px solid var(--clr);
  filter: drop-shadow(0 0 20px var(--clr));
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}



.stack-title-1,
.stack-title-2{
  color: #E5EEFF;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 35px;
  font-weight: 800;

}
.stack-title-1{
  /* margin-top: 200px; */
  text-align: center;
}
.stack-items{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -100px;
}
.stack-item {
  position: relative; 
  background-color: #fff;
  border-radius: 100px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  z-index: 0;
  
}
.stack-item:hover{
  background-color: #663795;
  color: #a27beb;
  
  /* transition: 0.9s; */
  z-index: 0;
  box-shadow: 0 0 20px #77549b;
  scale: 1.1;
  
}

.title-item{
  color: #000000;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 17.5px;
  font-weight: 800;
  /* margin-top: 200px; */
  margin-bottom: -1px;

}
.st1,
.st3,
.st5{
  margin-top: 0px;
}
.st2,
.st4,
.st6{
  margin-top: 210px;
}


/*------------------*/
.project-container {
  width: 700px; 
  overflow: hidden; 
}

.project {
  max-height: 320px; 
  overflow-y: auto; 
  margin-top: 35px;
}

.project img {
  width: 100%; 
  display: block; 
  cursor: pointer;
}

.cont-project-1{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}
.title-project{
  margin-right: 20px;
}

.stack-title-3,
.stack-title-4{
  color: #E5EEFF;
  font-family: 'Montserrat Alternates', sans-serif;
}

.stack-title-3{
  margin-top: 60px;
  font-size: 28px;
  font-weight: 800;
}
.stack-title-4{

  font-size: 21px;
  font-weight: 800;
  max-width: 420px;
}

.project-button{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;

}
/* .project-button a {
  text-decoration: none; 
} */
.project-btn{
  background-color: #65479e2d;
  border: 1px solid #9655d6;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 20px;
  color: #9555d6a7;
  font-weight: 800;
  margin-right: 50px;

  
}
.project-btn-stack{
  border-radius: 100px;
  background-color: #65479e2d;
  border: 1px solid #9655d6;
  cursor: pointer;
  
}
.project-btn-stack:hover,
.project-btn:hover{
  background-color: #9555d66e;
  color: #a27beb;
  transition: 0.3s;
}








.carousel {
  width: 100%;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  width: 200%; /*    100*количество элементов    */
  transition: transform 0.5s ease;
  align-items: center;
}

.carousel-item {
  width: 50%; 
  flex-shrink: 0;
  flex-grow: 1; 
  transition: transform 0.5s ease;
}

.carousel-control-prev, 
.carousel-control-next {
  flex-shrink: 0; 
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.prev-1 {
  margin-right: 30px;

  transform: rotate(180deg);

}





.svg,
.svg2{
  position: absolute;
}
.geometric-shapes,
.top-right {
  position: absolute;
  top: 0;  
  right: 10;  
  z-index: 10; 
}

.svg{
  /* position: relative; */
  width: 20%;
  height: 30%;
  z-index: -1;
  bottom: -8vh;
  left: 15vh;

}
.svg2{
  /* position: relative; */
  width: 20%;
  height: 30%;
  z-index: -1;
  /* bottom: 0; */
  
}
.svg-left{
  rotate: 10deg;
  left: -40%;
  position: absolute;
}
.svg-right{
  rotate: -185deg;
  left: -155%;
  top: 21%;
  position: absolute;
}



/*-------------------------*/
/*-------------------------*/
/*pet-js*/

.container-project-2{
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-wrap: wrap;
  margin-top: 35px;
  margin-bottom: 100px;
}
.btn-js-projects{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  /* gap: 10vh; */
  margin-bottom: 35px;
}

.btn-js{
  background-color: #65479e2d;
  border: 1px solid #9655d6;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #9555d6a7;
  font-weight: 800;
  font-size: 20px;
  /* margin-right: 50px; */
  
  text-align: center;
  margin-top: 10px;
  width: 245px;
}
.btn-js:hover{
  background-color: #9555d66e;
  color: #a27beb;
  transition: 0.1s;
}
.btn-js.active {
  background-color: #7844ac; 
  color: rgb(255, 255, 255); 
}

.project-2{
  /* padding-left: 49px; */
  /* margin-left: 49px; */
  /* border-left: 1px solid #9655d6; */

  /* display: none; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.project-img-js{
  margin-top: 40px;
  /* margin-left: 49px;
  margin-top: 35px; */
  /* overflow-x: auto; */
  max-width: 700px;
  height: auto;
}
.project-2-img{
  width: 100%;
  height: 100%;
  
}

.dabble-js{
  margin-right: 10px;
}



/*Крестик нолик*/

.tic-tac{
  /* background-image: url(tic-tac-fon.jpg);  */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}
.container-tic-tac{
  width: 100%;
  display: flex;
  /* height: 100vh; */
  /* padding: 0 20px; */
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-content: flex-start;
  justify-content: center;
}
.tic-tac-navigation{
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  width: 50%;
}
.slider-tic-tac{
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 60%;
}


.slide{
  height: 80vh;
  width: 100%;
  margin: 2vh;
  /* margin-left: 5vh; */
  border-radius: 20px;
  cursor: pointer;
  color: white;
  flex: 2;

  background-size: cover;
  background-position: center;/**/
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in;
  background-color: gray; 
  
}
.slide h3{
  padding-left: 20px;
  position: absolute;
  bottom: 20px;
  margin: 0;
  font-size: 3vh;

  color: #ffffff;

  font-family: 'Montserrat Alternates', sans-serif;
}
.slide.active{  flex: 10; }

.slide:not(.active)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #684f95; 
  border-radius: 20px;
  border: 3px solid #a27beb;
}
.slide.active h3{
  opacity: 1;
  transition: opacity 0.3s ease-in; 
}
.gamepreview_window{  display: flex;align-items: center;}
.gamepreview{
  margin-left: 20px;
  /* margin-right: 10vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 47%;
}
.start-tic-tac{
  display: block;
  margin: 30px;


  background-color: #65479e2d;
  border: 1px solid #9655d6;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 20px;
  color: #9555d6a7;
  font-weight: 800;
  margin-right: 50px;
}
.start-tic-tac:hover{
  background-color: #9555d66e;
  color: #a27beb;
  transition: 0.3s;
}
.tic-tac-img{
  width: 230px;
  height: 230px;
  border-radius: 20px;
  border: 2px solid rgb(93, 46, 46);
  cursor: pointer;
  box-shadow: 10px 8px 6px 0px rgba(0, 0, 0, 0.15);

}
.tic-tac-img:hover{
  transform: scale(1.03);
  transition: all 0.3s ease-in;
}

.title-tic-tac{
  color:white;
  font-family: 'Montserrat Alternates', sans-serif;
  
  background-color: #65479e2d;
  padding: 0 20px;
  border-radius: 15px;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-controls{
  cursor: pointer;
  margin-left: 34px;
  height: 120px;
}
.prev,
.next{
  transform: rotate(90deg);
}









/*Футер*/

footer{
  margin-top: 50px;
  background-color: #6a6a6a7b;
  padding: 20px;
}
.ftr-btn{
  display: flex;
  align-items: center;
  color: #b2a1ce;
  font-size: 15px;

}
.footerColumn{
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  flex-wrap: wrap;
  margin-right: 35px;
}
.conect{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.text-center p{
  color: #ffffff;
  font-size: 20px;
  font-weight: 800;
  font-family: 'Montserrat Alternates', sans-serif;
}
.poduct-name{
  text-align: center;
  /* font-size: 1px; */
}







/*Страница обо мне*/

.about-text{
  position: relative;
  
  color: #E5EEFF;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 14px;
  font-weight: 800;
  
}

.about-img{
  position: absolute;
  z-index: -10;
  top: -15%;
  right: -1%;
  /* opacity: 0.5; */
}






/*бургер*/
.menu{
  margin-top: 15px;
  margin-right: 10px;
  position: relative;
  width: 65px;
  height: 50px;
  background-color: transparent;
  cursor: pointer;

  display: none;
}
input[type="checkbox"]{
  display: none;
}
.menu span{
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 10px;

  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */

  transition: 0.5s;
}
.menu span:nth-child(1){
  top: 0;
  transform-origin: left center;
}
.menu span:nth-child(2){
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}
.menu span:nth-child(3){
  top: 100%;
  transform: translateY(-100%);
  transform-origin: left center;
}
input:checked ~ label 
span:nth-child(1){
  top: 0;
  left: 10px;
  transform: rotate(45deg);
}
input:checked ~ label 
span:nth-child(2){
  width: 0;
  opacity: 0;
}
input:checked ~ label 
span:nth-child(3){
  top: 47px;
  left: 10px;
  transform: rotate(-45deg);
}
@media (max-width: 1095px) {

  .contact-btn .hd-btn {
    width: 100%;
    padding: 20px;
    font-size: 30px;

  }



  .contact-btn {
    background-color: #3c3842d7;
    backdrop-filter: blur(6px);
    padding: 10px;
    border-radius: 40px;
    width: 80%;
    height: 50vh;
    right: 0;
    display: flex;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;

  }
  .navigation {
    /* position: absolute; */
    top: 110%; /* Расположение непосредственно под кнопкой */
    left: 50%;
    /* font-size: 30px; */
    /* width: 300px; */
    /* z-index: 1001; Убедитесь, что z-index достаточно высок */
    
  }
  .menu{
    display: initial;
  }
  #menu:checked ~ .contact-btn{
    display: flex;
    

  }
  #menu:checked ~ #dropdownButton{
    display: none;
  } 
  .header-btn {
    display:flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
  }
  .dropdown-menu{
    min-width: 50%;
    background-color: #553a8c9d;
    
  }
  .dropdown-menu a {
    color: #dbb7ff;
    /* font-family: 'Montserrat Alternates', sans-serif; */
    font-size: 20px;
    padding: 22px 16px;
    /* text-decoration: none; */
    /* display: block; */
  }
}

/* @media (max-width: 1009px) {
  .ring{
    margin-top: 140px;
  }
} */

@media (max-width: 1095px) {
  .ring{
    /* margin: 25px; */
    margin-top: 140px;
  }

}
@media (max-width: 1009px) {
  .ring{
    margin: 25px;
  }
  .gamepreview,
  .tic-tac-navigation{
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

/*--------*/
@media (max-width: 440px) {
  .ring i:nth-child(1) {
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    animation: animate 6s linear infinite;
  }
  .ring i:nth-child(2) {
    border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
    animation: animate 4s linear infinite;
  }
  .ring i:nth-child(3) {
    border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
    animation: animate2 10s linear infinite;
  }
  .ring:hover i {
    border: 6px solid var(--clr);
    filter: drop-shadow(0 0 20px var(--clr));
  }
}


@media (max-width: 586px) {
  .title {
    margin-top: 80px;
  }


}
@media (max-width: 431px) {
  .slider-tic-tac {
    height: 56vh;
    width: 100%;
  }
  .slide h3 {
    font-size: 2vh;
  }
  .ring{
    max-width: 265px;
    max-height: 265px;
  }
  .avatar {
    width: 260px;
    height: 260px;
  }




}
@media (max-width: 550px) {
  .footerColumn{
    justify-content: flex-start;
  }
}
@media (max-width: 800px) {
  .modal-content {
    width: 80%;
  }
}

